.main .sidebar
{
  width: 30%;
  min-width: 300px;
  padding: 70px 10px 20px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 0.5px solid #f2f2f2;
}

.main .sidebar .megaphone-icon
{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 38px;
  width: 38px;
  border: 1px solid black;
  border-radius: 5px;
}

.main .sidebar h1
{
  color: #f2f2f2;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.main .sidebar .form
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .sidebar .form .form-item
{
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 5px;
}

.main .sidebar .form .form-item.message
{
  height: 100px;
}

.main .sidebar .form .form-item.submit
{
  width: auto;
  height: 38px;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
  color: #fff;
  background-color: #009816;
  border: 1px solid rgba(0,0,0,.2);
}

.main .sidebar .form .form-item.submit:hover
{
  cursor: pointer;
}

.main .sidebar .form .form-item.submit:focus
{
  outline: none;
}