html
{
  height: 100%;
}

.app
{
  height: 100%;
  width: 100%;
  background-color: #f80046;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  margin: 0;
}

.page
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.page-wrap:after {
  content: "";
  display: block;
}
